body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 20px;
    color: #333;

     background: linear-gradient(135deg, #f5f5f5 25%, #e0e0e0 25%, #e0e0e0 50%, #f5f5f5 50%, #f5f5f5 75%, #e0e0e0 75%, #e0e0e0 100%);
    background-size: 40px 40px;

}


h1, h2 {
    color: #007bff;
    font-weight: 700;
    letter-spacing: 1px;       /* espacement entre lettres */
    text-transform: uppercase; /* optionnel, met en majuscules */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#bubblesContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
}

.bubble {
    padding: 5px 10px;        
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;     
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;                
    transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.bubble:hover {
    background-color: #0056b3;
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.bubble-img {
    width: 50px;      
    height: 50px;    
    object-fit: cover; 
    border-radius: 50%;
    transition: transform 0.2s;
}

#displayImage {
    width: 300px;         
    height: 300px;
    object-fit: contain;   
    background-color: #f2f2f2; 
    border-radius: 10px;
    border: 2px solid #ddd;
    display: block;
    margin: 20px auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#displayImage.show {
    opacity: 1;
}

#searchInput {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

#searchInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
    outline: none;
}

/* ------------------------------
   COUNTER
--------------------------------*/
#clickCounter {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #ff6b6b;          /* couleur flashy */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
