/*body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/back.png'); /* chemin vers ton image */
    background-size: cover;       /* l’image remplit tout l’écran */
    background-position: center;  /* centrée */
    background-repeat: no-repeat; /* pas de répétition */
    background-attachment: fixed; /* fixe l’image même en scrollant */
    color: #fff;                  /* texte clair si ton background est sombre */
}

h1, h2 {
    color: #333;
}

#bubblesContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
}

.bubble {
    padding: 5px 10px;        
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;     
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;                
    transition: transform 0.15s, background-color 0.15s;
}

.bubble:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.bubble-img {
    width: 50px;      
    height: 50px;    
    object-fit: cover; 
    border-radius: 50%;
}

#displayImage {
    width: 300px;         
    height: 300px;
    object-fit: contain;   
    background-color: #f2f2f2; 
    border-radius: 10px;
    border: 2px solid #ddd;
    display: block;
    margin: 20px auto;
}


#searchInput {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
